/* Footer Styles */
footer {
   text-align: center;
   padding: 20px;
   background: #f8f9fa; /* Light Grey */
   color: #333;
   font-size: 14px;
   margin-top: 50px;
}

footer a {
   color: #007bff;
   text-decoration: none;
   margin: 0 10px;
}

footer a:hover {
   text-decoration: underline;
}

/* Social Icons */
.footer-social {
   margin-top: 10px;
}

.footer-social a {
   color: #333;
   font-size: 18px;
   margin: 0 5px;
   transition: color 0.3s ease-in-out;
}

.footer-social a:hover {
   color: #007bff;
}
.navbar{
   background-color: white;
}
.card{
   border: none !important;
   margin-bottom: 2rem;
}
.card-img-top{
   border-radius: 1rem;
   width: 100% !important;
   object-fit: cover !important;
   border-radius: 10px;

}
.card-img-overlay{

position: absolute;
top: 10px;
left: 10px;
font-size: 20px;
color: red;
opacity: 0; /* Initially hidden */
transition: opacity 0.3s ease-in-out;

}

.card-img-overlay:hover{
opacity: 0.7;
}

   
.fa-solid fa-compass{
   background-color: #007bff;
}